.imgCon{
    width: 300px;
    height: 450px;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 50px 25px;
    border: 1px gainsboro solid;
    border-radius: 10px 10px 0px 0px;
    margin: 20px;
    margin-bottom: 0px;
}


.itemImage{
    height: 220px;
    width: 180px;
    margin-top: 20px;
}

.imgCon p{
    margin-top: 50px;
    font-weight: bold;
    color: black;
    font-size: 15px;
    
}

.button {
    margin-bottom: 50px;
    width: 300px;
    margin-left: 20px;
    background-color: rgb(140, 140, 207);
    border-color: transparent;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

}


